<div class="container mt-5">
    <form method="post" action="/course/store">
    <div class="mb-3">
        <label for="tittle" class="form-label mt-2">Tittle</label>
        <input  class="form-control" id="tittle" name="tittle" >
    </div>
   
    <div class="mb-3">
        <label for="content" class="form-label mt-2">Content</label>
        <input type="text"  class="form-control" id="content" name="content">
    </div>
    <div class="mb-3">
        <label for="idvideo" class="form-label mt-2">Idvideo</label>
        <input  class="form-control" id="idvideo" name="idvideo">
    </div>
    <div class="mb-3">
        <label for="level" class="form-label mt-2">Level</label>
        <input  class="form-control" id="level" name="level">
    </div>
   
    <button type="submit" class="btn btn-primary mt-5">Đăng khóa học </button>
    </form>   
</div>
