.test {
  font-size: 1rem; }

.test2 {
  font-size: 23rem; }

.test3 {
  font-size: 2rem; }

h1 {
  color: #171670; }

h2 {
  color: saddlebrown; }

.form-course {
  height: 500px;
  margin-bottom: 20px;
  overflow: hidden; }

.text-tittle {
  height: 100px;
  overflow: hidden; }

.text-content {
  height: 100px;
  overflow: hidden; }

.img-size {
  height: 233px;
  width: 414px; }

a {
  text-decoration: none !important; }

.thanhphai {
  float: right; }
